body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18 px;
    color: black;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: pink;
}

.container-fluid{
    line-height: 24px;
    padding: 7% 10%;
}

.header {
    position: relative;
    display: block;
    width: 100%;
    background-color: none;
    color: black;
    height: 80px;
}

.logo {
    position: absolute;
    top: 30px; 
    left: 15px;
}

nav{
    position: absolute;
    top: 10px; right: 15px;
}

nav, nav ul, nav ul li {
    margin: 0;
    padding: 10;
}

ul li{
    list-style-type: none;
    display: inline-block;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;

}

nav a {
    font-size: 15px;
    line-height: normal;
    color: black;
    padding: 10px;
}

.frontpage {
    background-image: url("images/homepage-background.JPG");
    background-position: 60% 40%;
    background-size: cover;
    min-height: 680px;
    width: 100%;
    /* filter: blur(1.5px); */
    color: white;
    text-align: center;
    padding-top: 23%;
    

}

.SWE-intro {
    line-height: 80px;
    font-size: 60px;
    font-weight: bold;
}

.SWE-motto{
    font-size: 30px;
}

h2 {
    font-weight: bold;
}

/* .subheading {
    font-size: 20px;
    padding-bottom: 20px;
} */

.subcontent {
    padding: 20px 0px;
}


